@-webkit-keyframes slideDown{0%,100%{-webkit-transform:translateY(-80px)}10%,90%{-webkit-transform:translateY(0px)}}
@-moz-keyframes slideDown{0%,100%{-moz-transform:translateY(-80px)}10%,90%{-moz-transform:translateY(0px)}}
#selected-stylesheet:before{content:'bragstr-ipad-landscape.css'}
body{padding-top:0}
.sportsbook-filter .filters select{float:right}
.sportsbook-filter .filters select:first-of-type{float:left}
.nav-collapse.collapse{display:none}
.span12,.row-fluid [class*="span"]{margin-left:0}
.container-fluid{padding-left:0}
.sidebar-nav{margin-right:20px;margin-top:-122px}
.navbar .navbar-inner{height:88px;background:url('/img/header-grad-ipad.png') repeat-x}
.logo{content:url("/img/header-logo-ipad.png");padding-left:350px}
.header-status{content:url("/img/header-status-ipad.png")}
.sidebar-toggle{display:none}