#selected-stylesheet:before {content:'bragstr-ipad-portrait.css';}
.span8 {margin-left: 0 !important; width: 100%;}
.row-fluid .span12, .row-fluid .span8  {width: 100%;}
.sportsbook-filter .filters select {float: right;}
.sportsbook-filter .filters select:first-of-type {float: left;}

@-webkit-keyframes slideIn{100%{-webkit-transform:translateX(0)}}
@-moz-keyframes slideIn{100%{-moz-transform:translateX(0)}}
@-webkit-keyframes slideOut{100%{-webkit-transform:translateX(-100%)}}
@-moz-keyframes slideOut{100%{-moz-transform:translateX(-100%)}}

.sidebar-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}
.sidebar-nav.open {
  -webkit-transform: translateX(-100%);
  -moz-transform:    translateX(-100%);
  -webkit-animation: slideIn 0.6s ease forwards;
  -moz-animation:    slideIn 0.6s ease forwards;
}
.sidebar-nav.closed {
  -webkit-transform: translateX(0);
  -moz-transform:    translateX(0);
  -webkit-animation: slideOut 0.6s ease forwards;
  -moz-animation:    slideOut 0.6s ease forwards;
}