@font-face{font-family:'Molot';src:url('/css/fonts/Molot-webfont.eot');src:url('/css/fonts/Molot-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Molot-webfont.woff') format('woff'),url('/css/fonts/Molot-webfont.ttf') format('truetype'),url('/css/fonts/Molot-webfont.svg#MolotRegular') format('svg');font-weight:normal;font-style:normal}
@-webkit-keyframes slideDown{0%,100%{-webkit-transform:translateY(-80px)}10%,90%{-webkit-transform:translateY(-10px)}}
@-moz-keyframes slideDown{0%,100%{-moz-transform:translateY(-80px)}10%,90%{-moz-transform:translateY(-10px)}}
body{background:#0f1724}
.nav>li>a:hover{background:0}
.nav-list>li>a,.nav-list .nav-header{margin:0;padding:0}
#selected-stylesheet{color:#FFF}
#selected-stylesheet:before{content:'bragstr-base.css'}
select{width:280px;height:40px;border:0;background:url('/img/select-bg.png') no-repeat;-webkit-appearance:none}
h1{color:#FFF;font-size:18px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;line-height:22px}
a{outline:none!important}
.hidden{display:none;visibility:visible}
.ajax-load{display:block;width:32px;background:url('/img/ajax-loader.gif') 50% 50% no-repeat;font-size:0!important; text-indent: -3000px}
a.load-more{display:block;margin:30px 0 -20px 0;padding:20px 0;width:100%;border-top:1px solid #0f1724;box-shadow:inset 0 1px 0 #3d434e;color:#878b91;text-align:center;text-decoration:none!important;font-size:14px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;line-height:18px}
.body-container {position: relative;}
/*-- Sidebar --*/
.sidebar-nav{background:#272e3a;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border:0;position:relative;z-index:9999;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);box-shadow:inset -8px 0 20px rgba(0,0,0,0.2)}
.sidebar-nav a,.nav-list .nav-header{color:#FFF;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;text-shadow:none}
.sidebar-nav a:after,.nav-list .nav-header:after{content:'>';float:right;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;text-shadow:none}
.sidebar-nav ul{border:1px solid #27576c;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:10px 20px;padding:0}
.sidebar-nav ul li{border-top:1px solid #0f1724;box-shadow:inset 0 1px 0 #3d434e;padding:10px 20px!important}
.sidebar-nav ul li:first-of-type{border-top:0;box-shadow:none}
.sidebar-nav li a.games:before{background:url('/img/navigation-icons.png') no-repeat 0 0;content:' ';float:left;height:20px;margin-right:10px;width:20px}
.sidebar-nav li a.friends:before{background:url('/img/navigation-icons.png') no-repeat 0 -40px;content:' ';float:left;height:20px;margin-right:10px;width:20px}
.sidebar-nav li a.messages:before{background:url('/img/navigation-icons.png') no-repeat 0 -82px;content:' ';float:left;height:20px;margin-right:10px;width:20px}
.sidebar-nav li a.notifications:before{background:url('/img/navigation-icons.png') no-repeat 0 -120px;content:' ';float:left;height:20px;margin-right:10px;width:20px}
.sidebar-nav li a.coins:before{background:url('/img/navigation-icons.png') no-repeat 0 -160px;content:' ';float:left;height:20px;margin-right:8px;width:22px}
.sidebar-nav .sidebar-toggle{position:absolute;top:10px;right:-42px;z-index:99999;}
/*-- Top Bar --*/
.nav-list .nav-header,.nav-list .nav-header:hover{font-family:'Molot';font-size:20px;font-weight:normal;text-shadow:0 0 5px #00c4e1}
.navbar-inverse .navbar-inner{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
.navbar .navbar-inner{position:relative;z-index:102;padding:0 5px;height:59px;background:url('/img/header-grad.png') repeat-x}
.navbar .navbar-inner .logo{display:block;margin:0 auto}
.navbar .navbar-inner .status{position:absolute;top:0;right:0}
.navbar .navbar-inner .btn.btn-navbar{display:none}
/*-- Notifications --*/
.notification-box{background:url('/img/notification-bg.png') repeat-x;color:#FFF;display:block;position: absolute; top: -20px; width: 100%; padding: 10px 0; line-height: 30px;}
.notification-box p{font-size:14px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif; margin-left: 20px}
.notification-box span.close{color:#91daf0;text-shadow:-1px -1px 2px #000;font-size:16px; margin-right: 20px}
.notification-box{-webkit-transform:translateY(-220px);-moz-transform:translateY(-220px);-webkit-animation:slideDown 4s 1.0s 1 ease forwards;-moz-animation:slideDown 4s 1.0s 1 ease forwards}*/
/*-- League Info --*/
.league .league-avatar{float:left;min-width:120px;max-width:22%}
.league .league-avatar h1{margin:0;padding:0;text-shadow:1px 1px 1px #000}
.league .league-info{padding-top:2px}
.league .league-info p{color:#878b91;font-size:14px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;line-height:18px;margin:5px 0;padding:0;text-shadow:1px 1px 1px #000}
/*-- Sidebar --*/
.lip:before{display:block;margin-left:1%;width:98%;height:4px;border-bottom:1px solid #32363c;border-bottom-right-radius:10px;border-bottom-left-radius:10px;background:#575d66;background:-moz-linear-gradient(left,#575d66 0,#575d66 28%,#7c8187 65%,#575d66 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,#575d66),color-stop(28%,#575d66),color-stop(65%,#7c8187),color-stop(100%,#575d66));background:-webkit-linear-gradient(left,#575d66 0,#575d66 28%,#7c8187 65%,#575d66 100%);background:-o-linear-gradient(left,#575d66 0,#575d66 28%,#7c8187 65%,#575d66 100%);background:-ms-linear-gradient(left,#575d66 0,#575d66 28%,#7c8187 65%,#575d66 100%);background:linear-gradient(to right,#575d66 0,#575d66 28%,#7c8187 65%,#575d66 100%);box-shadow:0 1px 5px 0 #111;content:' ';filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575d66',endColorstr='#575d66',GradientType=1)}
/*-- Sportsbook --*/
.sportsbook{margin-top:5px;padding-bottom:15px}
.sportsbook-filter,.sportsbook,.bet-slip .bankroll,.betslip-select{margin-top:20px;border:1px solid #27576c;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#272e3a}
.sportsbook-filter{margin-bottom:20px}
.sportsbook-filter h1{margin:0;padding:10px;font-size:14px;line-height:14px}
.sportsbook-filter .filters{margin-top:0;padding:10px 10px 0 10px;border-top:1px solid #0f1724;box-shadow:inset 0 1px 0 #3d434e}
.sportsbook-filter:after{display:block;clear:both;content:' '}
.sportsbook-wrapper{margin-top:20px}

.sportsbook-wrapper .game{margin-top:20px;padding-top:10px;border-top:1px solid #0f1724;box-shadow:inset 0 1px 0 #3d434e}
.sportsbook-wrapper .game:first-child{margin-top:0;padding-top:0;border:0;box-shadow:none}
.sportsbook-wrapper .hidden .game{margin-top:20px;padding-top:10px;border-top:1px solid #0f1724;box-shadow:inset 0 1px 0 #3d434e}
.sportsbook-wrapper .description,.betslip-select .description{color:#FFF;text-align:center}
.sportsbook-wrapper tr.gametime td a,.betslip-select .description h2{font-size:14px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;line-height:14px;text-shadow:1px 1px 1px #0f1724; color: #FFF;text-decoration: none;}
.sportsbook-wrapper p {margin:0;color:#878b91;font-weight:normal;font-size:12px}

.sportsbook-wrapper table {width:95%;margin: 20px auto;}
.sportsbook-wrapper table td {color:#878b91;text-align:center;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif}
.sportsbook-wrapper table td input {display: none;}

.sportsbook-wrapper table tr.game-details td {background:#0f1724;}
.sportsbook-wrapper table tr.game-details.row1 td {padding: 10px 1px 0 0;}
.sportsbook-wrapper table tr.game-details.row2 td {padding: 0 1px 0 0;}
.sportsbook-wrapper table tr.game-details.row1 td:first-of-type {border-top-left-radius: 10px;}
.sportsbook-wrapper table tr.game-details.row1 td:last-of-type {border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
.sportsbook-wrapper table tr.game-details.row2 td:first-of-type {border-bottom-left-radius: 10px;}

.sportsbook-wrapper table:not(.titles) tr:not(.gametime) td {width: 25%;}
.sportsbook-wrapper table:not(.titles) tr:not(.gametime) td:not(:first-child) span {border-radius:10px;height:39px;-webkit-border-radius:10px;-moz-border-radius:10px;background:url('/img/header-grad.png') repeat-x;color:#FFF;line-height:39px; width: 100%; display: block;}
.sportsbook-wrapper table:not(.titles) tr:not(.gametime):first-of-type td{padding:5px 2px 1px 2px}
.sportsbook-wrapper table:not(.titles) tr.row1 td:last-of-type {padding-right: 10px;}
.sportsbook-wrapper table:not(.titles) tr.row2 td span {border-top-right-radius:0 !important;border-top-left-radius:0 !important; margin-bottom: 10px; width: 95%}
.sportsbook-wrapper table:not(.titles) tr.row1 td span,

.sportsbook-wrapper td.total span.over {border-bottom-right-radius:0 !important;border-bottom-left-radius:0 !important;}
.sportsbook-wrapper td.total {position: relative;vertical-align: top;}
.sportsbook-wrapper td.total .col.left {position: absolute;top: 20px;background: none !important;}
.sportsbook-wrapper td.total .col.left span {background: none !important;}
.sportsbook-wrapper td.total .col.right span.under {background: none !important;}
.sportsbook-wrapper td.total .col.right .under span {border-top-right-radius:0 !important;border-top-left-radius:0 !important;border-bottom-right-radius:10px !important;border-bottom-left-radius:10px !important;}
.sportsbook-wrapper table:not(.titles) tr td.active span {background-image:url('/img/filter-active.png') !important;color:#000;text-shadow:0 1px 1px #FFF}
.sportsbook-wrapper tr.gametime td {padding: 20px 0}
.sportsbook-wrapper tr.gametime td a {display: block;}

#sportsbook-wrapper {position:relative;perspective:300;-webkit-perspective:300}
#sportsbook-wrapper .bet-slip,#sportsbook-wrapper .sportsbook-wrapper{backface-visibility:hidden;-webkit-backface-visibility:hidden;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;z-index:99}
#sportsbook-wrapper .bet-slip{position:absolute;transform:translateX(100%)rotateY(180deg);-webkit-transform:translateX(100%) rotateY(180deg);width:100%;top:28px;transform-origin:left top;-webkit-transform-origin:left top;z-index:0}
#sportsbook-wrapper .sportsbook-wrapper{margin-left:0;-webkit-transform-style:preserve-3d;transform-origin:right center;-webkit-transform-origin:right center}
#sportsbook-wrapper.flipped .sportsbook-wrapper{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:translateX(-100%) rotateY(-180deg);-webkit-transform:translateX(-100%) rotateY(-180deg)}
#sportsbook-wrapper.flipped .bet-slip{transform:translateX(0) rotateY(0deg);-webkit-transform:translateX(0) rotateY(0)}
#sportsbook-wrapper .bet-slip .bankroll ul{list-style:none;margin-left:0;padding:0}
#sportsbook-wrapper .bet-slip .bankroll li{color:#FFF;font-size:14px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;list-style:none;padding:10px 20px;border-bottom:1px solid #3d434e;box-shadow:inset 0 -1px 0 0 #0f1724}
#sportsbook-wrapper .bankroll li.sub{-webkit-transition:height .3s linear;display:none;padding:0;height:0;overflow:hidden;border-bottom:0;box-shadow:none}
#sportsbook-wrapper .bankroll.open li.sub{display:inline;height:203px;border:0;box-shadow:none}
#sportsbook-wrapper .bet-slip .bankroll li ul li{padding:10px 20px;font-family:'Open Sans',Arial,sans-serif}
#sportsbook-wrapper .bet-slip .bankroll a.more{color:#878b91;float:right;text-decoration:none!important}
#sportsbook-wrapper .bet-slip .bankroll li span{font-family:'Open Sans',Arial,sans-serif;float:right}
#sportsbook-wrapper .bet-slip .bankroll li.total{font-family:'Open Sans',Arial,sans-serif}
#sportsbook-wrapper .pick{float:left;margin:20px 0;padding:0 20px}
#sportsbook-wrapper .pick .button{display:block;float:right}
#sportsbook-wrapper .pick .pick-count{color:#FFF;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;font-size:20px}
#sportsbook-wrapper .pick .pick-count span{background:#2fb6e1;border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;color:#FFF;display:inline-block;height:40px;margin-right:10px;line-height:40px;text-align:center;width:40px}
#sportsbook-wrapper .picks-2{float:left;margin-top:20px;margin-left:20px}
/* Betslip */
.back-to-sportsbook{float:right;margin-top:20px;margin-right:20px}
.back-to-sportsbook:after{content:' ';clear:both;display:block;margin-bottom:20px}
.back-to-sportsbook.center{float:none;display:block;margin:20px auto;width:138px}
.betslip-select{clear:both;display:block;margin-top:20px}
.betslip-select:after{content:'';display:block;padding-bottom:20px}
.betslip-select .title{color:#FFF;font-size:14px;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif;border-top:1px solid #0f1724;box-shadow:inset 0 1px 0 0 #3d434e;padding-left:30px}
.betslip-select table{margin:0 20px;width:90%}
.betslip-select table td{color:#FFF}
.betslip-select table tr:not(.title) td{background:#0f1724}
.betslip-select table tr:not(.title) td:first-of-type{border-top-left-radius:10px;border-bottom-left-radius:10px;padding:10px;-moz-border-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-left-radius:10px}
.betslip-select table tr:not(.title) td:last-of-type{border-top-right-radius:10px;border-bottom-right-radius:10px;padding:10px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px}
.betslip-select table .input{width:40%}
.betslip-select table .input input{border:2px solid #29a0c5;height:40px;margin:0;padding:0 15px;width:90%}
.betslip-select td.win{text-align:center}
.betslip-select td.win span{color:#878b91;display:block;font-family:'Open Sans Condensed','Open Sans',Arial,sans-serif}
.betslip-select td.lock{width:40px}
.betslip-select td.lock a{background:url('../img/lock-icons.png') no-repeat;display:block;height:40px;text-align:right;width:40px}
.betslip-select td.lock a.selected{background-position:0 -40px}