@-webkit-keyframes slideIn{
  100% { -webkit-transform: translateX(0); }
}
@-moz-keyframes slideIn {
  100% { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideOut {
  100% { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes slideOut {
  100% { -moz-transform: translateY(-100%); }
}
#selected-stylesheet:before {content:'bragstr-iphone-landscape.css';}
.sportsbook-filter .filters select:first-of-type {margin-right: 10px;}
.sidebar-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}
.sidebar-nav.open {
  -webkit-transform: translateX(-100%);
  -moz-transform:    translateX(-100%);
  -webkit-animation: slideIn 0.6s ease forwards;
  -moz-animation:    slideIn 0.6s ease forwards;
}
.sidebar-nav.closed {
  -webkit-transform: translateX(0);
  -moz-transform:    translateX(0);
  -webkit-animation: slideOut 0.6s ease forwards;
  -moz-animation:    slideOut 0.6s ease forwards;
}
.main-container.container-fluid {
  margin-top: 60px;
}
.navbar {
  position: absolute;
    left: 0;
    top: 0;
  width: 100%;
}