/* Grab the base css */
@import url('bragstr-base.css');
/* Breakpoint specific stylesheets */
@import url('bragstr-ipad-landscape.css')(min-width: 979px);
@import url('bragstr-ipad-portrait.css')(min-width: 768px) and (max-width: 979px);
@import url('bragstr-iphone-landscape.css')(max-width: 767px);
@import url('bragstr-iphone-portrait.css')(max-width: 480px);
