#selected-stylesheet:before{content:'bragstr-iphone-portrait.css'}
@-webkit-keyframes slideIn{100%{-webkit-transform:translateX(0)}}
@-moz-keyframes slideIn{100%{-moz-transform:translateX(0)}}
@-webkit-keyframes slideOut{100%{-webkit-transform:translateX(-100%)}}
@-moz-keyframes slideOut{100%{-moz-transform:translateX(-100%)}}
.sidebar-nav{display:block}
.row-fluid .span12,.row-fluid .span8{width:100%}
.main-container.container-fluid{margin-top:60px}
.navbar{position:absolute;left:0;top:0;width:100%}
/*.sidebar-nav{position:absolute;top:0;left:0;width:80%}*/
.sidebar-nav.open{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-webkit-animation:slideIn .6s ease forwards;-moz-animation:slideIn .6s ease forwards}
.sidebar-nav.closed{-webkit-transform:translateX(0);-moz-transform:translateX(0);-webkit-animation:slideOut .6s ease forwards;-moz-animation:slideOut .6s ease forwards}